header#header{
  font-family: $helvetica;
	position:relative;
	height:46px;
	width: flex-grid(12);
  background-color: #ececec;
  border-bottom: 1px solid $border-color;
  @include box-shadow($border-shadow);

  ul.top_nav{
    position: relative;
    float: right;
    right:50px;
    list-style:none;

    li{
      display:inline;
      margin-left:25px;
      color: darken(#ececec, 30%);

      a{
        font-size: 14px;
        color: darken(#ececec, 30%);
        text-decoration:none;
        padding: 3px 10px 4px;
        border: 1px solid transparent;
      }

      a:hover{
        background:#666;
        color: #ececec;
        @include box-shadow(none);
       // @include border-radius(2px);
      }
    }
  }
}
