html {
  background-color: #f3f1ec;
}

#main{
  @include background-image(url("download.png"));

  .content{
    position: relative;
    width: flex-grid(12);
    float:left;
    margin-left: flex-grid(1);
  }
}

