.simple_form {
	margin-top:20px !important;
	
	&.fueling{
		textarea{
			width:94% !important;
		}
	}
	
	// Contractor fueling report 
	&.fueling_report{
		.actions{
			margin:0 0 0 10px;
		}
	}

	fieldset{
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
		margin-bottom:15px;

		legend{
			padding:15px 10px 15px 0;
			font-weight:bold;
		}
	}
	
	.inputs{
		position:relative;
	  
    a {
      font-size: 12px;
      color: #aaa;
      &:hover {
        text-decoration:none;
      }
    }
		.calculator{
			margin:25px 0 15px 0;
			
			.header{
				margin-bottom:10px;
				
				.plan, .predicted{
					float:left;
					font-weight:bold;
				}
				
				.plan{
					margin-left:160px;
				}
				
				.predicted{
					margin-left:112px;
				}
			}
			
			input{
				&.calculated{
					border:1px solid #666;
					background:#fff0f0;
				}
			}

            .predict_field {
              display:none;
            }
			
			a{
        font-size: 12px;
				margin-left:10px;
				
				span{
					padding:10px;
				}
				
				&.calculated{
					border:1px solid #999;
				}
				
				&.not_calculated{
					span{
						color:#bbb;
					}
				}
			}
		}
		
		&.finder{
			margin-bottom:15px;
			float:left;
			
			.header{
				h3{
					width:250px;
					float:left;
					height:25px;
					font-weight:bold;
					
					span{
						font-weight:normal;
						color:black;
						text-decoration:underline;
					}
				}
			}
			
			.block{
				width:250px;
				height:250px;
				overflow-y:scroll;
				float:left;
				border:1px solid #ccc;
				background:white;
				border-right:none;
				
				&.last{
					border-right:1px solid #ccc;
				}
				
				&.folder{
					div{
						background:image-url('icons/finder_icon.png') 97% center no-repeat;
						
						&:hover{
							background:#3875d7 image-url('icons/finder_icon_hover.png') 97.5% center no-repeat;
						}
					}
				}
				
				div{
					padding:3px 5px 3px 5px;
				
					&:hover, &.current{
						background-color:#3875d7;
						color:white;
						cursor:pointer;
					}
					
					label{
						float:none;
						padding-left:7px;
						
						&.partial{
							font-weight:bold;
							color:#aaa;
						}
						
						&.full{
							font-weight:bold;
						}
					}
				}
			}
		}
		
		&.filter{
			.date{
				width:94%;
				
				.input{
					width:45%;
					float:left;
					
					input{
						width:100%;
					}
				}
			}
			
			.like_search, .string{
				input{
					width:94%;
				}
			}
			
			label{
			  width:100%;
			}
			select{
		      width:100%;
			}
            textarea {
              width: 94%;
            }
		}
		
		fieldset.options{
			position:absolute;
			top:0;
			right:0;
			width:300px;
			
			legend{
				padding-bottom:15px;
				font-weight:bold;
			}
		}
		
		div.check_boxes{
			background:#fff;
			border:1px solid #ccc;
			padding:10px;
			height:250px;
			overflow-y:auto;
			
			&.assignment{
				span{
					width:50%;
				}
			}
			
			span{
				display:block;
				float:left;
				width:200px;
				margin-bottom:5px;
			}
			
			&.assignments{
				div{
					width:32%;
					float:left;
				}
				
				span{
					width:100%;
				}
				
				h3{
					padding-top:0;
					border:none;
				}
			}
			
			&.location_companies{
				height:130px;
			}
			
			h3{
				clear:both;
				font-size:1.2em;
				border-bottom:1px solid #ccc;
				margin-bottom:10px;
				padding-top:10px;
				
				&.first{
					padding-top:0;
				}
			}
		}
	}
	
	.actions{
		margin-top:15px;

	}
}

.time_tracking_settings{
	.input{
		&.last{
			margin-bottom:0 !important;
		}
		
		.period{
			width:30% !important;
			margin-right:15px;
		}
		
		select{
			width:auto !important;
		}
	}
}

.simple_form{
	&.event{
		margin:10px 0 0 0;
		
		.input.autocomplete{
			
			label{
				width:150px;
			}
			
			input{
				width:150px;
			}
		}
	}
	
	.input {
	  margin-bottom: 5px;
		
		&.coordinates{
			.input{
				float:left;
				margin:0 10px 0 0;
				
				span.hint{
					clear:none;
					display:inline;
					margin:0 0 0 5px;
				}
				
				input{
					width:50px;
				}
			}
		}
	}
  label {
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: 150px;
    margin: 5px 10px 4px 0;

    &.required{
      font-weight:bold;
    }
  }
}

.widget_form {
  label{
    font-size: 12px;
    font-weight: bold;
  }
  .string {
    input {
      width: 94%;
    }
  }
}

form.event{
	textarea{
		width:auto;
	}
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  color: #c00;

	input{
		border:1px solid #c00 !important;
	}
}

.simple_form .error {
  clear:   left;
  color: #c00;
  display: block;
  margin: 5px 0 0 160px;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin: 10px 0 0 160px;
  font-size:    12px;
  color: #999;
  display: block;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-right: 10px;
  vertical-align: 0;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid #b3b3b3;
  @include border-radius(5px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #FFF);
  padding: 5px;

  &:focus{
    border: 1px solid #5687D3;
  }
}

select {
  padding: 0 0 0 5px;

  &.chzn-select {
    height: 29px;
  }
}

input{
	
	&.example{
		color:#ccc;
	}
	
	&.datepicker{
		//background: #fff image-url('icons/calendar.png') no-repeat right center;
	}
	
	&.boolean{
		vertical-align: middle;
		margin-right:10px;
	}
}

textarea{
	width:85%;
	height:70px;
}

.new_assignment{
	margin-left:160px;
	
	.inputs{
		position:relative;
		
		a.remove_child{
			position:absolute;
			top:0;
			right:0;
		}
	}
}

.right{
	form{
		input.string{
			font-size:12px;
		}
	}
}

.sidebar{
	.input{
		&.autocomplete{
			margin-bottom:10px;
			
			&.filter{
				margin:0;
			}
			
			label, input{
			  float:left;
              width:94%;
			}

			label{

			}

			input{

			}
		}
	}
}

.type_notification{
	padding:0 !important;
	background:transparent !important;
	border:none !important;
	height:auto !important;
	
	label{
		margin-bottom:10px;
	}
}

.inline_filter{
	float:right;
	font-size:12px;
	
	.input{
		float:left;
		margin-right:10px;
	}
}
